.addmodcontainer {
  margin: 10px;
}

mat-card {
  padding:20px;
  padding-top: 30px;
  width: calc(100%-10px);
}

mat-icon{
  margin-right: 5px
}
mat-form-field, button {
  width: 100%;
}

button {
  margin-top: 10px;
  /* margin-bottom: 10px */
}
