@import url('https://fonts.googleapis.com/css?family=McLaren|Noto+Sans|Ubuntu');
@import "../static/contextMenu.css";

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #B259A6;
}

#container {
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    font-size: 14px;
    margin-top: 0;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    font-family: "McLaren", sans-serif;
    color: white;
}

#modlist {
    color: white;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    list-style-type: none;
  line-height: 2;
}

.button {
    color: black;
    background-color: #FF7FED;
    border: 2px solid black;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    padding: 3px;
}

.sayonika {
    height: 30px;
    width: auto;
    vertical-align: middle;
    padding-bottom: 5px
}


#addmodButton {
    margin-right: 30px;
}

.launchButton {
    color: black;
    background-color: cyan;
    border: 2px solid black;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding: 3px;
}

.launchButton:hover {
    background-color: #00B2B2;
}
