<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fDDMEPlayer</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>fDDMEPlayer</h1>
      </header>
      <ul id="modlist">
        {% for slug, mod in mods.items() %}
        <li>{{mod}}<sub>{{slug}}</sub>  |  <a href="launchmod/{{slug}}" class="launchButton">Launch {{mod}}</a></li>
        {% endfor %}
      </ul>
      <a href="addmod" class="button" id="addmodButton">Add Mod</a>
      <a href="settings.html" class="button" id="settingsButton">Launcher Settings</a>
      <a href="quit" class="button" id="quitButton">Quit Launcher</a>
    </div>
  </body>
</html>
