<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>fDDMEPlayer</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Settings</h1>
      </header>
      Skin
      <form action="/setskin", method=GET>
         {% for skin in skins %}
         <input type="radio" name="skin" value="{{skin}}" {% if currSkin == skin %} checked {% endif %}>{{skin}}<br>
         {% endfor %}
         <input type="submit" value="Set Skin">
      </form>
    </div>
  </body>
</html>
